* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
body {
  background-color: #3b3f45;
  color: aliceblue;
}

.header {
  padding: 20px;
  background-color: #4a4f56;
  text-align: center;
  color: #df6e6a;
}
.form {
  padding: 60px;
}
.shoping-list {
  list-style: none;
  width: 1000px;
  margin: auto;
}

.shoping-list-item:nth-child(odd) {
  background-color: #8a8ba7;
  border: 4px solid transparent;
}
.shoping-list-item:nth-child(even) {
  background-color: #7a7593;
  border: 4px solid transparent;
}

.shoping-list-item:hover {
  background: #625e77;
  color: #fff;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
}

.shoping-list-label {
  display: flex;
  align-items: center;
  padding: 26px 16px;
}

.img {
  width: 20px;
}
.shoping-list-text {
  font-size: 24px;
  color: white;
}
.shoping-list-text > span {
  font-size: 16px;
}

.Ñheck-input {
  display: none;
}
.check-box {
  width: 20px;
  height: 20px;
  border: 2px solid #dedede;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25em;
  margin-right: 10px;
}
.check-box > img {
  width: 16px;
  height: 16px;
  display: none;
}
input[type="checkbox"]:checked ~ span {
  text-decoration: line-through;
  border-color: #dedede;
  text-decoration-color: #a2a0b5;
  color: #a2a0b5;
}
input[type="checkbox"]:checked ~ span > img {
  display: initial;
}
.color-text2 {
  color: #b9bad8;
}

button {
  margin: 50px;
  
}

.button-style {
  background-color: #4a4f56;
  border: none;
  color: #eb7d79;
  padding: 20px 20px;
  font-size: 24px;
  list-style: none;
  width: 1000px;
  
}
.button-style:hover {
  background-color: #625e77;
  color: white;
  display: block;
  box-sizing: border-box;
}
