*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s ease-in;
}
body{
    background-color:#3B3F45;
}
header{
    padding: 20px;
    background-color:#4A4F56;
    text-align: center;
    color:#DF6E6A;
}