* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}
body {
  background-color: #3b3f45;
  color: aliceblue;
}
header {
  padding: 20px;
  background-color: #4a4f56;
  text-align: center;
  color: #df6e6a;
}
form {
  padding: 60px;
}
ul {
  list-style: none;
  font-size: 40px;
}
li {
  background-color: #88839e;
  width: 1000px;
  height: 80px;
  display: inline-block;
}
li:first-child {
  background-color: #8a8ba7;
}
li:nth-child(2) {
  background-color: #7a7593;
}
li:nth-child(3) {
  background-color: #8a8ba7;
}
li:nth-child(4) {
  background-color: #7a7593;
}
li:nth-child(5) {
  background-color: #8a8ba7;
}
li:last-child {
  background-color: #7a7593;
}

label {
  box-sizing: border-box;
  line-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
