@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3e3dd;
}
.section {
  min-height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  font-family: Lato;
  width: 100%;
  max-width: 1170px;
  margin: auto;
}
.title {
  text-align: center;
}

.title > h1 {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.rectangle {
  width: 45px;
  height: 4px;
  background-color: #dddbdb;
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

.title > h4 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 60px;
}

.list {
  display: flex;
  width: 100%;
  list-style: none;
  align-items: center;
}
.list-item {
  flex: 1 1 calc(100% / 4);
  max-width: calc(100% / 4);
  padding: 20px;
}
.card {
}
.card:hover .image-hover {
  display: block;
}
.image-wrapper {
  position: relative;
  height: 268px;
  margin-bottom: 20px;
}
.gallery-image {
    z-index: 1;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-title {
  font-size: 18px;
  font-weight: 700;
}
.text-info {
  font-size: 14px;
  font-weight: 300;
  color: #646464;
}

.image-hover {
  background-color: #2ca8c6;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
}
