* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #3399cc;
  border: 20px solid #2b81ac;
  min-height: 100vh;
}
.container {
  width: 100%;
  margin: auto;
  max-width: 600px;
}

.h1-text {
  font-size: 24px;
  text-align: left;
  color: white;
  margin: 40px 0;
}

.weather-form {
  list-style: none;
  text-align: center;
  font-size: 0;
  width: 100%;
  color: white;
  margin-bottom: 20px;
  border: 4px solid #fff;
  background-color: white;

}

ul:hover li {
  opacity: 0.5;
}
ul:hover li:hover {
  opacity: 1;
}

.list-item {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  height: 100px;
}

.text-item {
  display: block;
  padding: 10px;
}
.weather-item {
  color: #fff;
  opacity: 0.5;
}
.border-one {
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
}
.border-second {
  border-bottom: 4px solid #fff;
}
.width-one {
  width: 50%;
}
.width-second {
  width: 25%;
}

.lisabon-item {
  background-color: #3399cc;
}

.paris-item {
  background-color: #33cccc;
}
.belgrad-item {
  background-color: #996699;
}
.moscow-item {
  background-color: #c24747;
}
.telaviv-item {
  background-color: #e2674a;
}
.cair-item {
  background-color: #ffcc66;
}
.newyork-item {
  background-color: #99cc99;
}
.newdelhi-item {
  background-color: #669999;
}
.sanfrancisco-item {
  background-color: #cc6699;
}
.tokyo-item {
  background-color: #339966;
}
.sydney-item {
  width: 100%;
  background-color: #666699;
}
.h5-text {
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
  text-align: left;
  color: white;
}
