@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
:root {
  --background-color: #e2e7ec;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
}
.blog {
}
.container {
  width: 100%;
  max-width: 1120px;
  margin: auto;
  padding: 20px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -20px;
}
.gallery-item {
  flex: 1 1 calc(100% / 3);
  max-width: calc(100% / 3);
  padding: 10px;
}
.gallery-item.first-item {
  flex: 1 1 calc(100% / 3 * 2);
  max-width: calc(100% / 3 * 2);
}
.gallery-item.first-item.gallery-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gallery-card-first {
  position: relative;
  height: 100%;
  min-height: 540px;
}
.gallery-img-first {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.gallery-card {
  background-color: #ffffff;
  width: 100%;
  max-width: 360px;
  height: 100%;
  
}
.gallery-image {
  width: 100%;
  max-width: 360px;
  margin-bottom: 28px;
}
.gallery-image.four-image {
  margin-bottom: 62px;
}

.img-wrapper {
  width: 100%;
  max-width: 54px;
  height: 100%;
  max-height: 54px;
  

  /* transform: translate(-0%, 10%); */
  /* margin: 0 278px 26px 28px; */
  /* padding: 28px; */
  /* justify-content: center; */
  /* align-items: center; */
  /* display: flex; */
  /* flex-direction: row; */
 
}

.img-icon{
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.text-title-first {
  margin: 440px 264px 40px 46px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  z-index: 2;
  text-transform: uppercase;
}
.text-date-first {
  width: 100%;
  margin: 404px 562px 123px 46px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  z-index: 3;
}
.text-date {
  margin: 0px 200px 20px 28px;
  opacity: 0.5;
  color: black;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.text-title {
  margin: 0px 26px 0px 28px;
  color: #1d1d1d;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.55px;
}
.text-title.text-title-four{
  margin: 0 32px 0px 28px;
}
