@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
:root {
  --background-color: #e2e7ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}
.blog{
    width: 100%;
    max-width: 1120px;
    margin: auto;
    font-family: "Noto Sans KR", sans-serif;
}

.container {
  /* width: 100%;
  max-width: 1120px;
  margin: auto;
  font-family: "Noto Sans KR", sans-serif; */
  
}
.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.gallery-item {
  /* width: calc(100% / 3); */
  position: relative;
}

.text-title-img1-second {
  opacity: 0.7;
  color: var(--background-color);
  font-size: 13px;
  letter-spacing: 0.33px;

  position: absolute;
  margin: 404px 562px 122px 42px;
}
.text-title-img1 {
  color: var(--background-color);
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  position: absolute;
  margin: 440px 264px 40px 42px;
}

.gallery-item-second {
  background-color: white;
  width: 360px;
  height: 540px;
}
.text-title-img2 {
  opacity: 0.7;
  color: #818181;
  font-size: 13px;
  letter-spacing: 0.33px;
  margin: 28px 199px 21px 26px;
}
.text-title-img2-second {
  width: 251px;
  margin: 0 26px 149px;
  color: #1d1d1d;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.55px;
  text-align: left;
}
.img-wrapper {
  width: 54px;
  height: 54px;
  position: relative;
  z-index: 1;
}
