* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
header {
  color: #f8f1f1;
  background-color: #6e2d2d;
  font-size: 24px;
  text-align: center;
}
body {
  min-height: 100vh;
}
.container {
  max-width: 1140px;
  margin: auto;
  text-align: center;
}
.photos {
  display: flex;
  list-style: none;
  text-align: center;
}
.photo {
  text-align: center;
  padding: 30px 30px;
  margin-right: 10px;
}
.photo:last-child {
  margin-right: 0;
}
.img-wrapper {
  width: 180px;
  height: 180px;
  background-color: rgb(247, 199, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 0 auto 15px;
}
.image {
  width: 170px;
  border-radius: 20px;
}
.title {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}
.text {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
.photos {
  justify-content: center;
}
.intro {
  background-color: rgb(245, 125, 125);
  font-size: 24px;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.6;
  box-sizing: border-box;
  text-align: center;
}
.parent > div {
  padding: 30px;
  background-color: rgb(238, 121, 121);
  float: left;
  width: 33.33%;
  margin-right: 0%;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;
  color: #f8f1f1;
}
.child {
  padding: 30px;
  background-color: rgb(238, 121, 121);
  float: left;
  width: 33.33%;
  margin-right: 0%;
  box-sizing: border-box;
}
.child:last-child {
  margin-right: 0px;
}
footer{
  background-color: #6e2d2d;
  color: #f8f1f1;
  font-size: 12px;
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}