* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
header {
  min-height: 100vh;
  color: #8f5757;
}
body {
  min-height: 100vh;
  color: #f09393;
}
.companyname {
  background-color: #eeacac;
  padding: 107px 0 105px;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.photos {
  display: flex;
  list-style: none;
}
.photo {
  text-align: center;
  padding: 20px 20px;
  margin-right: 10px;
  
}
.photo:last-child {
  margin-right: 0;
}
.img-wrapper {
  width: 280px;
  height: 280px;
  background-color: rgb(247, 199, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 0 auto 45px;
}
.image {
  width: 260px;
}
.title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.text {
  font-size: 14px;
  line-height: 1.5;
}
