* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
header {
  color: #f8f1f1;
  background-color: #6e2d2d;
  font-size: 24px;
  text-transform: uppercase;
}
body {
  min-height: 100vh;
  color: #f09393;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.photos {
  display: flex;
  list-style: none;
}
.photo {
  text-align: center;
  padding: 30px 30px;
  margin-right: 10px;
}
.photo:last-child {
  margin-right: 0;
}
.img-wrapper {
  width: 180px;
  height: 180px;
  background-color: rgb(247, 199, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 0 auto 15px;
}
.image {
  width: 170px;
  border-radius: 20px;
}
.title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.text {
  font-size: 14px;
  line-height: 1.5;
}
.photos {
  justify-content: center;
}
.intro {
  background-color: rgb(226, 116, 116);
  font-size: 24px;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.6;
  box-sizing: border-box;
  text-align: center;
}
.main {
  min-height: 100vh;
  background-color: #f09393;
}
.text-main {
  text-align: center;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.8;
  box-sizing: border-box;
  text-align: center;
  color: aliceblue;
}

