@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
:root {
  --main-font: "Lato", sans-serif;
  --body-bg: #bac5db;
  --form-bg: #353a45;
  --blue-color: #538fff;
  --gery-color: #787d87;
  --placeholder-color: #a9a9a9;
  --white-color: #fff;
  --black-color: #000;
  --input-border-color:#c4c4c4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  min-height: 100vh;
  font-family: var(--main-font);
  background-color: var(--body-bg);
}
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form-section__card {
  padding: 82px 60px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 666px;
  /* max-height: 383px; */
  box-shadow: 0 26px 49px rgba(35, 70, 133, 0.28);
  border-radius: 24px;
  background-color: var(--form-bg);
  position: relative;
}
.form-section__wrapper {
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  position: absolute;
  width: 92px;
  height: 92px;
  box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.13);
  background-color: #000000;
  background-image: linear-gradient(59deg, #47aae6 0%, #9372bf 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-section__wrapper:before {
  content: "";
  width: 74px;
  height: 74px;
  border: 3px solid var(--white-color);
  border-radius: 50%;
  position: absolute;
}

.form-section__icon {
  width: 43px;
  height: 32px;
}
.form-section__title {
  line-height: 1;
  /* margin-top: -15px; */
  color: var(--blue-color);
  font-size: 48px;
  margin-bottom: 30px;
}
.form-section__text {
  white-space: nowrap;
  color: var(--white-color);
  font-family: var(--main-font);
  font-size: 22px;
  margin-bottom: 40px;
}
.form-section__form {
  margin-bottom: 36px;
  display: flex;
  width: 100%;
}

.form-section__input {
  color: var(--black-color);
  font-family: var(--main-font);
  font-size: 20px;
  padding: 18px 16px 20px;
  max-width: 371px;
  width: 100%;
  height: 52px;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: var(--white-color);
  border: 1px solid var(--input-border-color);
  margin-right: 12px;
}
.form-section__button {
  padding: 16px 26px 20px;
  width: 161px;
  height: 52px;
  border-radius: 10px;
  border: none;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease;
}
.form-section__button:hover{
  color: var(--black-color);
}
.form-section__button:active {
  color: var(--form-bg);
}

.form-section__info {
  color: var(--placeholder-color);
  font-family: var(--main-font);
  font-size: 20px;
  font-style: italic;
  letter-spacing: normal;
  text-align: center;
}
